///////////////////// RESPONSIVE SIZES FOR REFERENCE  \\\\\\\\\\\\\\\\\\\\\\\\\
// xs: 0
// sm: 576px
// md: 768px
// lg: 992px
// xl: 1200px
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
//
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";

///////////////////////// VARIABLE OVERRIDES  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\


/////////////////////// CUSTOM MIXINS  \\\\\\\\\\\\\\\\\\\\\\\
@mixin easeOut {
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-backface-visibility: hidden;
}

//colors
$red: #AA0000;
$green-dark: #00AA00;
$green-light: #55FF55;
$blue-dark: #0000AA;
$blue-medium: #5555FF;
$blue-baby: #55FFFF;
$gray: #AAAAAA;
$brown: #AA5500;
$pink: #FF5555;

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 4vw;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

    @include media-breakpoint-up(md) {
        font-size: 23px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 21px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.5em;
        font-size: 2em;

    }
}


.first-visit-body-overlay {}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

    .arrow-key {
        width: 70px;
        height: auto;
        display: inline;
    }

    .recipeShop-focus {
        width: 100px;
        height: 100px;
        background-color: white;
        // background-color: red;
        z-index: 500;
        // position: absolute;
        left: 44px;
        bottom: 663px;
        border-radius: 50%;
    }
}

.overlay-content {
    position: relative;
    // top: 82px;
    width: 100%;
    margin-top: 30px;
    text-align: right;
    bottom: -66%;

    @include media-breakpoint-up(md) {
        top: 82px;
        bottom: initial;
    }

    @include media-breakpoint-up(lg) {
        padding-right: 360px;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 33vw;
    }
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;

    text-align: right;
    font-size: 45px;
    color: $red;
    z-index: 5;

    @include media-breakpoint-up(sm) {
        top: initial;
        left: initial;
        bottom: 20px;
        right: 45px;
        font-size: 60px;
    }

    @include media-breakpoint-up(md) {
        font-size: 122px;
        bottom: 381px;
        right: initial;

    }

    @include media-breakpoint-up(xl) {
        font-size: 160px;
        bottom: 20px;
        right: 45px;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}




.page-wrapper {
    max-width: 1580px;
    margin: 0 auto;
    border: 1px solid $red;
    border-radius: 12px;
    background-color: $red;

    @include media-breakpoint-up(md) {
        border: 7px solid $red;
    }

    // @include media-breakpoint-up(xl) {
    //     height: 908px;
    // }
    //
    @include media-breakpoint-up(lg) {
        margin-top: 25px;
    }
}


.bee1 {
    position: absolute;
    animation: blink1 1s, flutter 3s;
    animation-iteration-count: infinite;
}

.bee2 {
    position: absolute;
    animation: blink2 1s, flutter 3s;
    animation-iteration-count: infinite;
}

.hide-bee {
    display: none;
}

.bee-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.main-bee1 {
    position: absolute;
    // top: 50%;
    left: 55px;
    left: 165px;
    animation: blink1 1s, flutter 3s;
    animation-iteration-count: infinite;
    z-index: 1000;
}

.main-bee2 {
    position: absolute;
    // top: 50%;
    left: 55px;
    left: 165px;
    animation: blink2 1s, flutter 3s;
    animation-iteration-count: infinite;
    z-index: 1000;
}


@keyframes blinkText {
    0% {
        opacity: 0
    }

    49% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}


.blink {
    animation: blinkText 0.25s;
    animation-iteration-count: 3;

}


@keyframes flutter {

    0%,
    100% {
        bottom: 40%;
    }

    50% {
        bottom: 44%;
    }
}

@keyframes blink1 {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}


@keyframes blink2 {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


#main-content {
    background-color: #000000;
    height: 100%;
    border-radius: 17px;
    font-size: 12px;

    &::-webkit-scrollbar {
        width: 35px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        color: red;
        background-color: #330000;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        color: red;
        background-color: pink;
        background-color: #660000;
        background-color: $gray;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $gray;
    }

    @include media-breakpoint-up(md) {
        max-height: 600px;
        font-size: 16px;
        overflow: scroll;
        overflow-x: hidden;
    }

    @include media-breakpoint-up(lg) {
        height: 343px;
    }

    @include media-breakpoint-up(xl) {
        height: 600px;
        height: 571px;
    }


    .header-image {
        position: relative;
        overflow: hidden;


        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }

        @include media-breakpoint-up(lg) {
            height: 100%;
        }

        // background-image: url("/images/icons/salt.gif");
        // background-position: 50% 50%;
        // background-size: cover;
        // background-repeat: repeat;
        // height: 100%;


        .weather-overlay {
            position: absolute;
            bottom: 0px;
            width: 950px;
            height: 565px;
        }

        blockquote {
            position: absolute;
            width: 50%;
            top: 125px;
            left: 20px;

        }
    }

    img {
        border-radius: 17px;
    }

    h1 {
        font-size: 23px;
        margin-bottom: 25px;
        border: 1px solid white;
        padding: 10px;
        background-color: white;
        color: black;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            font-size: 2vw;
            text-align: center;
        }

        &.homepage-h1 {
            position: absolute;
            // color: white;
            top: 30px;
            left: 20px;
            // background-color: rgba(0, 0, 0, 0.5);
            text-align: left;
        }
    }

    h3 {
        font-size: 19px;
        margin-bottom: 15px;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: 28px;
        }
    }


    h4 {
        font-size: 16px;
        margin-top: 40px;

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }
    }

    ul {
        padding-inline-start: 15px;

        @include media-breakpoint-up(md) {
            padding-inline-start: 40px;
        }

        li {
            margin-bottom: 10px;
        }
    }

    .page-content {
        word-break: break-word;
        padding: 10px;
        padding-right: 5px;

        @include media-breakpoint-up(md) {
            padding: 15px;
        }

        #materials {
            margin-bottom: 40px;
        }
    }

    hr {
        margin-top: 25px;
        margin-bottom: 35px;
        background-color: $red;
    }

    .icon {
        margin-right: 10px;
        vertical-align: 0px;
        margin-bottom: -2px;

        &.cabbage {
            width: 32px;
        }

        &.salt {
            width: 50px;
        }
    }
}


.direction {
    &.north {
        &:before {
            content: 'N';
        }
    }

    &.south {
        &:before {
            content: 'S';
        }
    }

    &.east {
        &:before {
            content: 'E';
        }
    }

    &.west {
        &:before {
            content: 'W';
        }
    }
}


#homepage {
    .scroll-up {
        height: 500px;
        overflow: hidden;
        position: absolute;
        top: 118px;
    }

    .scroll-up p {
        // position: absolute;
        position: relative;
        width: 100%;
        // height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        /* Starting position */
        -moz-transform: translateY(256%);
        -webkit-transform: translateY(256%);
        transform: translateY(256%);
        -moz-animation: scroll-up 25s linear infinite;
        -webkit-animation: scroll-up 25s linear infinite;
        animation: scroll-up 25s linear infinite;
        z-index: 50;
        font-size: 22px;
    }


    @keyframes scroll-up {
        0% {
            // -moz-transform: translateY(256%);
            // -webkit-transform: translateY(256%);
            // transform: translateY(256%);

            -moz-transform: translateY(290%);
            -webkit-transform: translateY(290%);
            transform: translateY(290%);
        }

        100% {

            -moz-transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
}

h2 {
    font-size: 23px;
    margin-bottom: 25px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
    color: black;

    @include media-breakpoint-up(md) {
        font-size: 40px;
        font-size: 2vw;
        text-align: center;
    }
}

#side-nav-list {
    background-color: #000000;
    background-color: $red;
    height: 100%;
    border-radius: 17px;
    padding-left: 15px;
    padding-right: 10px;
    border-top: 10px solid $red;



    h1 {
        font-size: 23px;
        margin-bottom: 25px;
        border: 1px solid white;
        padding: 10px;
        background-color: white;
        color: black;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            font-size: 1.9vw;
            text-align: center;
        }
    }

    @include media-breakpoint-up(lg) {
        border: none;
    }

    &.options-menu-off {
        .side-nav-list-heading {
            &:before {
                content: 'Map';
            }
        }

        .eagle-eye {
            border-radius: 15px;
            background-image: url("/images/map-edit6.png");
            background-size: cover;
            background-size: contain;
            background-size: auto;
            height: 275px;
            // background-position: 48% 71%;
            // background-position: 48% 49%;
            background-repeat: no-repeat;
            z-index: 7;
            position: relative;

            @include media-breakpoint-up(lg) {
                height: 152px;
            }

            @include media-breakpoint-up(xl) {
                height: 275px;
            }

            .fa {
                position: absolute;
                top: 50%;
                right: 50%;
            }
        }
    }


    &.options-menu-on {
        .side-nav-list-heading {
            &:before {
                content: 'Options';
            }
        }

        .eagle-eye {
            border-radius: 15px;
            // background-image: url("/images/screenshot1.png");
            background-size: cover;
            background-size: contain;
            height: 275px;
            // background-position: 48% 70%;
            // background-position: 48% 71%;
            // background-position: 48% 49%;
            background-repeat: no-repeat;
            z-index: 2;
            position: relative;

            .fa {
                position: absolute;
                top: 50%;
                right: 50%;
                display: none;
            }
        }
    }

    section.eagle-eye {
        position: relative;
    }

    section.eagle-eye img {
        position: absolute;
        right: 50%;
        -webkit-filter: drop-shadow(3px 22px 8px #000);
        filter: drop-shadow(3px 22px 8px #000);
    }

    section.eagle-eye .options-icon {
        position: relative;
        filter: none;
        right: 0px;
    }




    .sidemenu-magic {
        white-space: nowrap;
        padding-right: 0px;
        list-style: none;
        padding-top: 10px;
        padding-left: 10px;

        span.magic {
            text-align: right;
            width: 50%;
            display: inline-block;
            position: relative;
            z-index: 5;

        }
    }

    h2 {
        text-align: center;
        padding-top: 10px;

        @include media-breakpoint-up(lg) {
            font-size: 22px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 30px;
        }
    }

    .column-1 {
        border-bottom: 5px solid $red;
        border-radius: 17px;
        background-color: #000;
        padding-bottom: 15px;
    }

    .column-2 {
        border-top: 5px solid $red;
        border-radius: 17px;
        height: 100%;
        background-color: #000;
    }

}

#options-row {
    background-color: $red;
    white-space: nowrap;

    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 30px;
    }

    .row {
        div {
            border: 10px solid $red;
            border-radius: 17px;
            background-color: #000000;
            overflow: hidden;
            padding-top: 5px;
            padding-bottom: 2px
        }
    }
}


#character-section {
    background-color: $red;

    .row {
        border: 10px solid $red;
        border-radius: 17px;
        background-color: #000000;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .name {
        text-align: left;
        width: 70%;
        display: inline-block;
        white-space: nowrap;
        position: relative;
        z-index: 5;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .health {
        text-align: right;
        width: 30%;
        display: inline-block;
        position: relative;
        z-index: 5;
    }


}

img.ewave-icon {
    background-color: red;
    color: #ff0;
    width: 42px;
    height: 42px;
    margin-bottom: 13px;
    border-radius: 50% !important;
    &:hover {
        background-color:blue
    }
}

// RECIPE BOOK PAGE
//
#recipe-popup {
    opacity: 0;
    position: absolute;
    transform: translate3d(368px, 63px, 0px);
    top: 124px;
    top: 99px;
    left: 118px;
    left: 100px;
    will-change: transform;
}

#keyboard-arrows {
    position: absolute;
    top: 10px;
    right: 10px;
}



// audio buttons
#play_button {
  transition: .5s ease;



 .nick {
  animation-name: nick;
  animation-duration: 100ms;
  animation-iteration-count: 1;
z-index:10000;
}

@keyframes nick {
    from {background-color: black;}
    to {background-color: white;}
    from {color: black;}
    to {color: white;}
}
}